{% extends "base.html" %}<!--подключение базового шаблона-->
{% block content %}<!--использование места для контента-->
<h1>Панель для добавления задач</h1><!--заголовок-->
<form action="" method="post" novalidate><!--тег для показа формы;action- маршрут на который надо перейти
method- используемый метод(post- отправка данных на сервер)novalidate- не применять встроенные валидаторы-->
    {{ form.hidden_tag() }}<!--функция для скрытия данных в полях формы-->
    <p>
        {{ form.body.label }}<br><!--подпись названия поля-->
        {{ form.body(cols=50, rows=10) }}<br><!--создание поля для ввода текста задачи размером 50*100 символа-->
        {% for error in form.body.errors %}<!--для каждой ошибки в списке ошибок-->
            <span style="color:red;">[{{ error }}]</span><!--показ сообщения об ошибке красным цветом-->
        {% endfor %}
    </p>
    <p>
        {{ form.link.label }}<br><!--подпись названия поля-->
        {{ form.link(size=50) }}<br><!--создание поля для ввода ссылки на файл размером 50 символов-->
        {% for error in form.link.errors %}<!--для каждой ошибки в списке ошибок-->
            <span style="color:red;">[{{ error }}]</span><!--показ сообщения об ошибке красным цветом-->
        {% endfor %}
    </p>
    <p>
        {{ form.answer.label }}<br><!--подпись названия поля-->
        {{ form.answer(size=50) }}<br><!--создание поля для ввода правильного ответа размером 50 символов-->
        {% for error in form.answer.errors %}<!--для каждой ошибки в списке ошибок-->
            <span style="color:red;">[{{ error }}]</span><!--показ сообщения об ошибке красным цветом-->
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br><!--подпись названия поля-->
        {{ form.author(size=50) }}<br><!--создание поля для ввода источника задачи размером 50 символов-->
        {% for error in form.author.errors %}<!--для каждой ошибки в списке ошибок-->
            <span style="color:red;">[{{ error }}]</span><!--показ сообщения об ошибке красным цветом-->
        {% endfor %}
    </p>
     <p>
        {{ form.link_solution.label }}<br><!--подпись названия поля-->
        {{ form.link_solution(size=50) }}<br><!--создание поля для ввода ссылки на файл размером 50 символов-->
        {% for error in form.link_solution.errors %}<!--для каждой ошибки в списке ошибок-->
            <span style="color:red;">[{{ error }}]</span><!--показ сообщения об ошибке красным цветом-->
        {% endfor %}
    </p>
     <p>{{ form.submit() }}</p><!--кнопка входа-->
</form>
<p><a href="/main">Вернуться на главную</a></p>
{% endblock %}