<html>
<head>
    {% if title %}<!--если title передали из кода Python-->
    <title>{{ title }}</title> <!--название вкладки, title передаётся из кода Python-->
    {% else %}<!--если title не передали из кода Python-->
    <title>Задачи ЕГЭ</title>
    {% endif %}
</head>
<body>
<div><!--создание контейнера для панели навигации-->
    <a href="/main">Все задачи №9</a>&nbsp&nbsp&nbsp<!--ссылка наглавную страницу-->
    {% if current_user.is_anonymous %}<!--если пользователь не вошёл на сайт-->
        <a href="/login">Вход</a>&nbsp&nbsp<!--ссылка на страницу входа-->
    {% else %}<!--если пользователь вошёл на сайт-->
        <a href="/user/{{ current_user.username }}">Профиль 👨‍🎓</a>&nbsp&nbsp<!--ссылка на страницу пользователя-->
        {% if current_user.admin %}<a href="/admin">Панель админа</a>&nbsp&nbsp {% endif %}<!--ссылка на панель админа-->
        <a href="/logout">Выход</a>&nbsp&nbsp<!--ссылка на страницу выхода-->
    {% endif %}
</div>
<hr><!--создание линии разрыва между навигацией и остальным контентом-->
{% with messages=get_flashed_messages() %}<!--связка переменной messages с уведомлениями от flash-->
{% if messages %}<!--если уведомления есть-->
<ul><!--создание списка без номеров-->
    {% for message in messages %}<!--для каждого сообщения в списке сообщений-->
    <li>{{ message }}</li><!--демонстрация сообщения-->
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}<!--место для контента для всех html шаблонов-->
</body>
</html>