{% extends "base.html" %}<!--подключение базового шаблона-->
{% block content %}<!--использование места для контента-->
<h1>Вход</h1><!--заголовок-->
<form action="" method="post" novalidate><!--тег для показа формы;action- маршрут на который надо перейти
method- используемый метод(post- отправка данных на сервер)novalidate- не применять встроенные валидаторы-->
    {{ form.hidden_tag() }}<!--функция для скрытия данных в полях формы-->
    <p>
        {{ form.username.label }}<br><!--подпись названия поля-->
        {{ form.username(size=32) }}<br><!--создание поля для ввода имени пользователя размером 32 символа-->
        {% for error in form.username.errors %}<!--для каждой ошибки в списке ошибок-->
            <span style="color:red;">[{{ error }}]</span><!--показ сообщения об ошибке красным цветом-->
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br><!--подпись названия поля-->
        {{ form.password(size=32) }}<br><!--создание поля для ввода пароля размером 32 символа-->
        {% for error in form.password.errors %}<!--для каждой ошибки в списке ошибок-->
                <span style="color:red;">[{{ error }}]</span><!--показ сообщения об ошибке красным цветом-->
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p><!--создание поля для галочки запомни меня-->
    <p>{{ form.submit() }}</p><!--кнопка входа-->
</form>
{% endblock %}