{% extends "base.html" %}<!--подключение базового шаблона-->
{% block content %}<!--использование места для контента-->
<h1>Способы решений тематических заданий ЕГЭ</h1> <!--заголовок-->
<h1>Добро пожаловать, {{ current_user.username }}</h1> <!--заголовок,current_user.username имя пользователя, находящегося на сайте-->
{% for task in tasks %}<!--для каждой задачи в списке задач-->
<div><!--контейнер-->
    <p><!--обычный абзац-->
        <b>{{ task.author.username }}</b><br>
        <!--показ имени автора задачи;<b>- жирный шрифт,<br>- перенос на следующую строку -->
        {{ task.body }}<!--показ текста задачи-->
    </p>
</div>
{% endfor %}
{% endblock %}